{
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/plugin-transform-runtime",
        ["prismjs", {
            "languages": ["javascript", "css", "markup"],
            "plugins": ["show-language"],
            "theme": "okaidia",
            "css": true
          }]
    ]
}
