@import '../variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.apiNavItemsContainer{
    border-right: 1px solid $dark-1;
    .apiNavItems{
    p{
        color: $content-color-base;
        font-size: $font-size-base;
        
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
    .btnLink{
        color: $blue-2;
        text-decoration: none!important;
        &:hover{
            color:$blue-2;
        }
    }
    .apiListItem{
        color: $blue-2;
        text-decoration: none!important;
        &:hover{
            color:$blue-2;
        }
        
    }
}
}

