/* 
  Layout SCSS
  External CSS should in imported into here.
*/

//main styles scss
@import '../styles.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.crsInfoGraphic{
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-image: url("https://bn1301files.storage.live.com/y4mT5IIbTkAagbbPZ4XTZ7iEYpuNI-W0MSvv45nYN1WvJz9fzV0UR8UqOD65n-sUymCgzCGDKGkB2GsZXtYpl_XwXvnkC6W4jaB_eeiYSTQ_SHxf1w9hSc0KGCFKRFHDvX5N2byHzCI4rKTRska06benHm80pvS41dlSml7A-_jCsAWPSobFUACLF7XEwLkOrqT?width=1024&height=727&cropmode=none");
    width: 100%;
    height: 500px;
}

.gsmInfoGraphic{
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-image: url("https://bn1301files.storage.live.com/y4mX_IZI6KMzAqIPG7TawNDt97S3z1S5NSMT86Rl3wHnxD6iEJsEcgowYyrzjRDRSpal8cYnsl2HPQtCHnkxUntwjZp59x7H5dFnjZ2VaiOMzh1C_igXNUUlfKQ03iadi5_O4ISAcuQXF-q8UATUF95_rKCYReCudk70v4WIjOPnzNWM-YSNgPs6FwL4XXX6zXu?width=1000&height=985&cropmode=none");
    width: 100%;
    height: 400px;
}