@use '../components/variables' as *;
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/breakpoints';


    .homeBanner{
        height: 650px;
        background-color: #282B33;
        .homeBannerLogo{
            margin-top: -75px;
            h1{
                color: white;
                font-size: 3.5rem;
            }
        }
        p{
            color: white;
            font-size: 1.4rem;
            font-weight: 200;
        }
    }
    
    .homeCardRow{
        position: relative;
        z-index: 10;
        margin-top: -100px;
    }

    .installRow{
        margin-top: 9rem;
        padding-bottom: 6rem;
    }
  
    .threeStepsRow{
        margin-top: 10rem;
    }

    

    
    
