@import '../variables';

header{
  
  background-color: #20222A;
  height: 60px;
  // box-shadow: $shadow-2;
  .header-logo{
    //border: 1px solid red;
    width: 35px;
    height: auto;
    margin-top: -15px;
    img{
      margin-top: 0px;
    }
  }
  .header-title{
    margin-top: -30px;
    a{
      h4{
        font-size: $font-size-base + .2;
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }
      
      color: white;
      
      text-decoration: none;
      
    }
  }
}