/*
Custom stylesheet for gobal classes and libary overwrites
only library css should be added to this.  App specific css shouldnt be written in a scene stylesheet and imported into that scene.
*/
@import './variables';

/*Global Custom Styles*/
body{
    background-color: #F2F3F3;
    main{
        
        p{
            font-size: $font-size-base + .25rem;
            font-weight: 300;
        }

        .bk-gradient{
            background: rgb(23,90,157);
            background: -moz-linear-gradient(78deg, rgba(23,90,157,1) 0%, rgba(87,192,156,1) 100%);
            background: -webkit-linear-gradient(78deg, rgba(23,90,157,1) 0%, rgba(87,192,156,1) 100%);
            background: linear-gradient(78deg, rgba(23,90,157,1) 0%, rgba(87,192,156,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#175a9d",endColorstr="#57c09c",GradientType=1);
        }

        .bk-dark{
            background-color: #282B33;
        }

    }
    pre{
        background-color: $dark-1!important;
    }
}

h4{
    margin-top: 1.5rem;
}

strong{
    font-size: $font-size-base + .1rem;
    font-weight: bold!important;
}

blockquote{
    background-color: $dark-4;
    padding: 1.5rem 1.75rem 1.5rem 1.75rem;
    border-left: 10px solid #4e9ae5;
    h1,h2,h3,h4,h5,h6{
        margin: 0px;
        margin-bottom: .75rem;
    }
    p{
        margin: 0px!important;
    }
}

em{
    color: #4e9ae5;
}

.language-text{
    font-size: $font-size-base!important;
    background-color: $dark-1!important;
    color: #c9ccd6!important;
}