@import '../variables';

footer{
  background-color: #292B32;
  p{
    color: white;
    opacity: .5;
    a{
      color: white;

    }
  }
  .footer-content{
    height: 125px;
    .footer-social-media{
      a{
        color: white;
        opacity: .5;
        &:hover{
          color: white;
          text-decoration:none;
        }
        i{
          font-size: 2.2rem;
        }
      }
    }
  }
  .footer-copyright{
    background-color: #20222A;
    font-size: $font-size-base - .2rem;
    a{
      &:hover{
        color: white;
        text-decoration:none;
      }
    }
    
  }
}