@use '../../../styles/variables' as *;

.btnCustom{
    border-color: $blue;
    border-radius: 25px;
    opacity: 1;
    transition: opacity .3;
    
    &:hover{
        opacity: .75;
    }
    &:visited{
        background-color: $blue;
    }
    &:focus{
        background-color: $blue;
    }
    &:active{
        background-color: $blue;
    }

}

.btnCustomOutline{
    p{
        a{
            color: $blue!important;
            text-decoration: none;
            &:hover{
                color: $dark-1!important;
            }
        }
        &:hover{
                color: $dark-1!important;
            }
    }
}


.gradient{
    color: white;
}

.btnDark{
    background-color: $dark-1;
    color: white;
    &:hover{
        background-color: $dark-1;
    }
    &:visited{
        background-color: $dark-1;
    }
    &:focus{
        background-color: $dark-1;
    }
    &:active{
        background-color: $dark-1;
    }
}